.lightBody {
    margin: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
}
.darkBody {
    margin: 0;
    background-color: rgb(46, 46, 46);
    color: white;
}
.lightTop {
    border-bottom: 2px solid rgb(158, 158, 158);
    box-shadow: 0 0px 3px rgb(87, 87, 87);
}   
.darkTop {
    border-bottom: 2px solid rgb(116, 116, 116);
    box-shadow: 0 0px 3px rgb(139, 139, 139);
}
#icon {
    width: 30px;
    margin: 10px 0px 8px 10px;
}
.lightTitle {
    display: inline-block;
    margin: 16px 0 0 10px;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;;
    font-weight: bold;
    font-size: 20;
    color: rgb(51, 51, 51);
}
.darkTitle {
    color: rgb(218, 218, 218);
    display: inline-block;
    margin: 16px 0 0 10px;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;;
    font-weight: bold;
    font-size: 20;
}
.lightRightside {
    width: 200px;
    height: calc(100vh - 54px);
    border-right: 2px solid rgb(156, 156, 156);
}
.darkRightside {
    width: 200px;
    height: calc(100vh - 54px);
    border-right: 2px solid rgb(104, 104, 104);
}
.lightButton {
    margin: 9px 0 0 calc(100vw - 350px);
    vertical-align: top;
    padding: 6px 24px 6px 24px;
    border: 2px solid rgb(104, 104, 104);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.15s;
    font-family: 'Roboto', sans-serif;;
    font-weight: bold;
    color: rgb(51, 51, 51);
}
.lightButton:hover {
    background-color: rgb(214, 214, 214);
}
.lightButton:active {
    margin: 10px 0 0 calc(100vw - 349px);
    vertical-align: top;
    padding: 6px 24px 6px 24px;
    border: none;
    border-radius: 8px;
    color: rgb(190, 190, 190);
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(61, 61, 61);
    transition: background-color 0.15s;
    font-family: 'Roboto', sans-serif;;
    font-weight: bold;
}
.darkButton {
    margin: 9px 0 0 calc(100vw - 350px);
    vertical-align: top;
    padding: 8px 18px 8px 18px;
    border: none;
    border-radius: 8px;
    color: rgb(190, 190, 190);
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(61, 61, 61);
    transition: background-color 0.15s;
    font-family: 'Roboto', sans-serif;;
    font-weight: bold;
}
.darkButton:hover {
    background-color: rgb(70, 69, 69);
}
.darkButton:active {
    margin: 10px 0 0 calc(100vw - 349px);
    vertical-align: top;
    padding: 4px 14px 4px 14px;
    border: 2px solid rgb(92, 92, 92);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.15s;
    font-family: 'Roboto', sans-serif;;
    font-weight: bold;
    color: rgb(51, 51, 51);
}